.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}

#myCanvas {
    border-width: 10px;
    background-color: white;
    border-style: ridge;
    border-color: darkviolet;
}
#dearmom {
    width: 150px;
    height: 85px;
    font-size: 150%;
}